{
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/explicit-function-return-type": false,
    "@typescript-eslint/indent": false,
    "@typescript-eslint/explicit-member-accessibility": false,
    "@typescript-eslint/prefer-interface": false
  },
  "env": {
    "jest": true
  }
}
